<a href="https://colab.research.google.com/github/naruemonssp/DWDM21/blob/main/Chapter6_Association_Rules.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
from google.colab import drive # เชื่อม google drive
drive.mount('/content/drive')
path = '/content/drive/My Drive/DWDM2021_DATA'

Mounted at /content/drive

In [3]:
import os

In [4]:
data = pd.read_csv(os.path.join(path,'reduced_marketbasket.csv'),encoding='latin1') # โหลด data เข้ามา
data

       InvoiceNo StockCode  ... CustomerID         Country
0         536365    85123A  ...    17850.0  United Kingdom
1         536365     71053  ...    17850.0  United Kingdom
2         536365    84406B  ...    17850.0  United Kingdom
3         536365    84029G  ...    17850.0  United Kingdom
4         536365    84029E  ...    17850.0  United Kingdom
...          ...       ...  ...        ...             ...
541904    581587     22613  ...    12680.0          France
541905    581587     22899  ...    12680.0          France
541906    581587     23254  ...    12680.0          France
541907    581587     23255  ...    12680.0          France
541908    581587     22138  ...    12680.0          France

[541909 rows x 8 columns]

### **[Q] มีประเทศสาขาของ supermarket นี้ทั้งหมดกี่ประเทศ**

In [5]:
set(data['Country'])

{'Australia',
 'Austria',
 'Bahrain',
 'Belgium',
 'Brazil',
 'Canada',
 'Channel Islands',
 'Cyprus',
 'Czech Republic',
 'Denmark',
 'EIRE',
 'European Community',
 'Finland',
 'France',
 'Germany',
 'Greece',
 'Hong Kong',
 'Iceland',
 'Israel',
 'Italy',
 'Japan',
 'Lebanon',
 'Lithuania',
 'Malta',
 'Netherlands',
 'Norway',
 'Poland',
 'Portugal',
 'RSA',
 'Saudi Arabia',
 'Singapore',
 'Spain',
 'Sweden',
 'Switzerland',
 'USA',
 'United Arab Emirates',
 'United Kingdom',
 'Unspecified'}

In [6]:
len(set(data['Country']))

38

### **[HW13] วาดกราฟเเท่งสรุปจำนวน item เเละ ยอดขายของเเต่ละประเทศ**

In [7]:
data_item = data.iloc[:,[0,2,3,7]]
data_item

       InvoiceNo                          Description  Quantity         Country
0         536365   WHITE HANGING HEART T-LIGHT HOLDER         6  United Kingdom
1         536365                  WHITE METAL LANTERN         6  United Kingdom
2         536365       CREAM CUPID HEARTS COAT HANGER         8  United Kingdom
3         536365  KNITTED UNION FLAG HOT WATER BOTTLE         6  United Kingdom
4         536365       RED WOOLLY HOTTIE WHITE HEART.         6  United Kingdom
...          ...                                  ...       ...             ...
541904    581587          PACK OF 20 SPACEBOY NAPKINS        12          France
541905    581587         CHILDREN'S APRON DOLLY GIRL          6          France
541906    581587        CHILDRENS CUTLERY DOLLY GIRL          4          France
541907    581587      CHILDRENS CUTLERY CIRCUS PARADE         4          France
541908    581587        BAKING SET 9 PIECE RETROSPOT          3          France

[541909 rows x 4 columns]