<a href="https://colab.research.google.com/github/naruemonssp/DWDM21/blob/main/Data101(chapter2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ข้อความที่อยู่ใน textbox จะเป็นภาษา markdown

ข้อดีหนึ่งของ Python คือมี package สำหรับทำงานต่างๆมากมาย

ซึ่ง pandas เป็น package สำหรับการทำงานกับข้อมูลที่อยู่ในรูปแบบตาราง

โดย pandas จะเรียกตารางนั้นว่า dataframe

In [ ]:
import pandas ### วฺะีเรียกใช้ package คือ import ตามด้วยชื่อ package

In [ ]:
import pandas as pd ### เหมือนกันกับข้างบนแต่ตั้งชื่อให้ package ที่โหลดมาใหม่ว่า pd

ไฟล์ .cvs(CVS = comma separated values) เป็นไฟล์หลักที่เราจะได้ใช้กันในวิชานี้

In [ ]:
data_df = pd.read_csv('data.csv')

In [ ]:
data_df

    name  age       city
0    Tom   27  Khon Kaen
1   Paul   15    Bangkok
2  Sarah   49     London

In [ ]:
data_df2 = pandas.read_csv('data.csv')   ### ในหนึ่งครั้งไม่จำเป็นต้องรันคำสั่งเดียว
data_df2

    name  age       city
0    Tom   27  Khon Kaen
1   Paul   15    Bangkok
2  Sarah   49     London

## Basic Pythnon

Variables

ข้อกำหนดในการตั้งชื่อตัวแปล


1. ชื่อห้ามมีเว้นวรรค
2. ใช้ชื่อเป็นภาษาอังกฤษ
3. ตัวเล็กกับตัวใหญ่ แตกต่างกัน (case sunsitive)
4. ห้ามใช้ตัวเลขเป็นตัวหน้า

In [ ]:
variable_a = 12
variable_b = 'abcde'  ### ' เรียกว่า quote
variable_c = variable_a
variable_d = -41.2
variable_4 = "KKU"  ### " เรียกว่า double quote

In [ ]:
variable_x = variable_c + variable_d
print(variable_x)

-29.200000000000003

In [ ]:
variable_a + variable_b

TypeError: ignored

In [ ]:
print(variable_b+variable_4)

abcdeKKU

# Casting int()  float()  str()

In [ ]:
print(variable_x)
print(int(variable_x))

-29.200000000000003
-29

In [ ]:
V_X = str(variable_x)
print(V_X)

-29.200000000000003

In [ ]:
V_X + variable_a

TypeError: ignored

In [ ]:
variable_a + V_X   ## error ไม่เหมือนกับด้านบน แต่ว่าก็ error ทั้งคู่  เพราะค่าแต่ละค่าไม่สามารถมาบวกกันได้

In [ ]:
V_X   ### การแสดงค่าแบบนี้คือจะบอกว่า ในตอนนี้มีการเก็บค่าแบบนี้

In [ ]:
float(V_X)

-29.200000000000003

## Data Structure
### list() : เป็นตัวเลขหรือตัวแปลมาต่อกัน

In [ ]:
list_a = [1,2,0.2,'abs']   ### [] square brackets
list_b = [2,'xyz',list_a,[1,2,0.11]]   ### สามารถเก็บข้อมูลประเภทไหน อะไรก็ได้

In [ ]:
list_a   ### ลำดับใน list มีความสำคัญ

[1, 2, 0.2, 'abs']

In [ ]:
list_b

[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.11]]

In [ ]:
len(list_b)   ### ดูว่า list มีสมาชิกกี่ตัว  len ย่อมาจาก lenge

4

In [ ]:
list_b[3]   ### บอกตำแหน่งใน list_b

[1, 2, 0.11]

In [ ]:
list_b[3][1]   ### บอกตำแหน่ง list ในลิสอีกที

2

string คือ list ของ ตัวหนังสือ

In [ ]:
a = 'Stat KKU'

In [ ]:
a[4]

' '

## วิธีสร้าง list ว่าง

In [ ]:
list_c = list()   ### แบบที่ 1
list_d = []   ### แบบที่ 2

In [ ]:
list_c

[]

In [ ]:
list_d

[]

เติมค่าไปใน list (.append)

In [ ]:
list_d.append('a')

In [ ]:
list_d

['a']

In [ ]:
list_d.append(56)

In [ ]:
list_d   ### ค่าที่เติมจะเรียงต่อท้ายไปเรื่อยๆ

['a', 56]

## การชี้ค่าใน list (indexing)


1.   ใช้ลำดับในการชี้
2.   ลำดับเริ่มจาก 0
3.   สามารถชี้จากข้างหลังได้โดยใช้ negative index

In [ ]:
list_b

[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.11]]

In [ ]:
list_b[-1]

[1, 2, 0.11]

In [ ]:
list_b[-3]

'xyz'

### list slicing

In [ ]:
list_ex = [1,2,3,4,6,8,-1,20,50,0]

เราจะตัด list โดยเอาตั้งแต่ [ตัวหน้า:ตัวก่อนตัวหลัง]

ถ้าเป็นสัญลักษณ์คณิตศาสตร์ [ตัวหน้า:ตัวหลัง] ---->> [ตัวหน้า,ตัวหลัง)

In [ ]:
list_ex[1:6]   ### สัญลักษณ์ slicing คือ :

[2, 3, 4, 6, 8]

In [ ]:
list_ex[4:]   ### ไม่ใส่ตัวหลังแปลว่า เอาไปจนถึงตัวสุดท้าย

[6, 8, -1, 20, 50, 0]

In [ ]:
list_ex[:6]   ### ไม่ใส่ตัวหน้าแปลว่า เอาตั้งแต่ตัวแรก

[1, 2, 3, 4, 6, 8]

[จุดเริ่มต้น:จุดสุดท้าย(จุดขอบเขต):step]

In [ ]:
list_ex

[1, 2, 3, 4, 6, 8, -1, 20, 50, 0]

In [ ]:
list_ex[::2]   ### ตัวเว้นตัว

[1, 3, 6, -1, 50]

In [ ]:
list_ex[::-1]   ### การกลับ list

[0, 50, 20, -1, 8, 6, 4, 3, 2, 1]

In [ ]:
a

'Stat KKU'

In [ ]:
a[-3:]

'KKU'

In [ ]:
a[5:]

'KKU'

In [ ]:
a[5:8]

'KKU'

In [ ]:
a[-3::]

'KKU'

In [ ]:
a[-3::1]

'KKU'

## list + list

In [ ]:
print(list_a)
print(list_b)

[1, 2, 0.2, 'abs']
[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.11]]

In [ ]:
list_a + list_b

[1, 2, 0.2, 'abs', 2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.11]]

format string

```python
f'string{ตัวแปร}'
```

{} เรียกว่า curly brackets

In [ ]:
f'ตัวแปร list_a มีค่าคือ {list_a}'

"ตัวแปร list_a มีค่าคือ [1, 2, 0.2, 'abs']"

## Loop

```python
for ตัวแปรที่จะรับค่าจากลิสต์ in ลิสต์ที่จะนำมาวนลูป:
  do something #in loop
  do another thing #in loop

doother thing #out site loop
```

In [ ]:
for i in [1,2,3,4,5]:   ### for ตัวที่เราจะวน in จากค่าที่เรา list ไว้
    print(i+1)

2
3
4
5
6

In [ ]:
for x in [1,2,3,4,5,]:
  print(f'ค่าตัวแปร x คือ {x} และ x+2={x+2}')

ค่าตัวแปร x คือ 1 และ x+2=3
ค่าตัวแปร x คือ 2 และ x+2=4
ค่าตัวแปร x คือ 3 และ x+2=5
ค่าตัวแปร x คือ 4 และ x+2=6
ค่าตัวแปร x คือ 5 และ x+2=7

In [ ]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
for i in range(2,7):
  print(i)

2
3
4
5
6

In [ ]:
for i in range(5):
  print('hahaha')
  x = i+3
  print(f'i={i} x={x}')

hahaha
i=0 x=3
hahaha
i=1 x=4
hahaha
i=2 x=5
hahaha
i=3 x=6
hahaha
i=4 x=7

## Nested loop

In [ ]:
for i in range(3):
  print(f'now i = {i}')
  for j in range(4):
    print(f'i = {i} j = {j} i+j = {i+j}')
  print('end j loop')

now i = 0
i = 0 j = 0 i+j = 0
i = 0 j = 1 i+j = 1
i = 0 j = 2 i+j = 2
i = 0 j = 3 i+j = 3
end j loop
now i = 1
i = 1 j = 0 i+j = 1
i = 1 j = 1 i+j = 2
i = 1 j = 2 i+j = 3
i = 1 j = 3 i+j = 4
end j loop
now i = 2
i = 2 j = 0 i+j = 2
i = 2 j = 1 i+j = 3
i = 2 j = 2 i+j = 4
i = 2 j = 3 i+j = 5
end j loop

## Condition (if statement)

````python
if เงื่อนไขที่จะตรวจสอบ (โดยใช้สัญลักษณ์ ==,!=,<,>,<=,>=):
    ถ้าเงื่อนไขเป็นจริง ทำงาน 1
    ถ้าเงื่อนไขเป็นจริง ทำงาน 2
````

In [ ]:
stringx = 'asdfgfdsasdfgtrewqwerfasdasdasddsaq'

if len(stringx) > 30:
  print(f'{stringx} is longer than 30 characters')

asdfgfdsasdfgtrewqwerfasdasdasddsaq is longer than 30 characters

In [ ]:
stringx = 'asdfgfdsasdfgtrewqwerfasdasdasddsaq'

if len(stringx) > 100:
  print(f'{stringx} is longer than 30 characters')

````python
if เงื่อนไขที่จะตรวจสอบ (โดยใช้สัญลักษณ์ ==,!=,<,>,<=,>=):
    ถ้าเงื่อนไขเป็นจริง ทำงานที่ 1
    ถ้าเงื่อนไขเป็นจริง ทำงานที่ 2
else: #ตรวจสอบเงื่อนไขข้างบนแล้วไม่เป็นจริง
    ทำงานที่ X 
````

In [ ]:
stringx = 'asdfgfdsasdfgtrewqwerkjhgfasdasdasddsaq'

if len(stringx) > 100:
  print(f'{stringx} is longer than 30 characters')
else:
  print(f'{stringx} in {len(stringx)} characters long')

asdfgfdsasdfgtrewqwerkjhgfasdasdasddsaq in 39 characters long

````python
if เงื่อนไขที่จะตรวจสอบ (โดยใช้สัญลักษณ์ ==,!=,<,>,<=,>=):
    ถ้าเงื่อนไขเป็นจริง ทำงานที่ 1
    ถ้าเงื่อนไขเป็นจริง ทำงานที่ 2
elif เงื่อนไขที่จะตรวจสอบต่อไปถ้าเงื่อนไขข้างบนไม่เป็นจริง:
    ถ้าเงื่อนไขเป็นจริง ทำงานที่ a1
    ถ้าเงื่อนไขเป็นจริง ทำงานที่ a2
elif เงื่อนไขที่จะตรวจสอบต่อไปถ้าเงื่อนไขข้างบนไม่เป็นจริง:
    ถ้าเงื่อนไขเป็นจริง ทำงานที่ b1
    ถ้าเงื่อนไขเป็นจริง ทำงานที่ b2      
else: #ตรวจสอบเงื่อนไขข้างบนแล้วไม่เป็นจริง
    ทำงานที่ X 
````

In [ ]:
password = '12345'

input_pass = '123sf'
if input_pass == password:
  print('Welcome!')
elif len(input_pass) > len(password):
  print('Too long, try again!')
elif len(input_pass) < len(password):
  print('Too short, try again!')
else:
  print('Wrong password, try again!')

Wrong password, try again!

Quiz 1 หา min

In [ ]:
list_ex = [1,5,9,-19,-2,0]  ## หาค่าน้อยที่สุดใน list_ex โดยไม้ใช้ function min (commit ก่อน 10:30 :Quiz1)

In [ ]:
list_ex = [1,5,9,-19,-2,0]
pp = list_ex[0] 
i = 0
for m in list_ex: 
    if(m<pp): 
        pp = m 
        imin = i 
    i += 1
print(min(list_ex))

-19

In [ ]:
### เฉลย
min = 1000000
for i in list_ex:
  if i < min:
    min = i 
print(min)

-19

In [ ]:
### เพิ่มเติม
min = 1000000
print(list_ex)
for i in list_ex:
  print(f'now i = {i}, min = {min}')
  print('start condition')
  if i < min:
    print(f'i < min, update min -> {i}')
    min = i
  else:
    print('i >= min,not update')
    print('end condition, go to next i') 
print(min)

[1, 5, 9, -19, -2, 0]
now i = 1, min = 1000000
start condition
i < min, update min -> 1
now i = 5, min = 1
start condition
i >= min,not update
end condition, go to next i
now i = 9, min = 1
start condition
i >= min,not update
end condition, go to next i
now i = -19, min = 1
start condition
i < min, update min -> -19
now i = -2, min = -19
start condition
i >= min,not update
end condition, go to next i
now i = 0, min = -19
start condition
i >= min,not update
end condition, go to next i
-19

HW03 ตัดเกรด

In [ ]:
score = [49,65,70,95,82,55,89,20,77,77,81,59,10]  #ตัดเกรด คะแนนใน list score (ใช้ if กับ for)

In [ ]:
for i in score:
  if i >= 80:
    print(f'คะแนน {i} ได้เกรด A')
  elif i >= 75 and i < 80:
    print(f'คะแนน {i} ได้เกรด B+')
  elif i >= 70 and i < 75:
    print(f'คะแนน {i} ได้เกรด B')
  elif i >= 65 and i < 70:
    print(f'คะแนน {i} ได้เกรด C+')
  elif i >= 60 and i < 65:
    print(f'คะแนน {i} ได้เกรด C')
  elif i >= 55 and i < 60:
    print(f'คะแนน {i} ได้เกรด D+')
  elif i >= 50 and i < 55:
    print(f'คะแนน {i} ได้เกรด D')
  else:  
    print(f'คะแนน {i} ได้เกรด F')

คะแนน 49 ได้เกรด F
คะแนน 65 ได้เกรด C+
คะแนน 70 ได้เกรด B
คะแนน 95 ได้เกรด A
คะแนน 82 ได้เกรด A
คะแนน 55 ได้เกรด D+
คะแนน 89 ได้เกรด A
คะแนน 20 ได้เกรด F
คะแนน 77 ได้เกรด B+
คะแนน 77 ได้เกรด B+
คะแนน 81 ได้เกรด A
คะแนน 59 ได้เกรด D+
คะแนน 10 ได้เกรด F

###Example1

In [17]:
def grading(score):  #คีย์ลัดในการย่อหน้าบรรทัด คือ Ctrl+[, Ctrl+]
  if score >= 80:
      grade = 'A'
  elif score >= 75:
      grade = 'B+'
  elif score >= 70:
      grade = 'B'
  elif score >= 65:
      grade = 'C+'
  elif score >= 60:
      grade = 'C'
  elif score >= 55:
      grade = 'D+'
  elif score >= 50:
      grade = 'D'
  else:
      grade = 'F'
  return grade

In [18]:
score = [49,65,70,95,82,55,89,20,77,77,81,59,10]
for i in score:
    print(f'คะแนน {i} ได้เกรด {grading(i)}')

คะแนน 49 ได้เกรด F
คะแนน 65 ได้เกรด C+
คะแนน 70 ได้เกรด B
คะแนน 95 ได้เกรด A
คะแนน 82 ได้เกรด A
คะแนน 55 ได้เกรด D+
คะแนน 89 ได้เกรด A
คะแนน 20 ได้เกรด F
คะแนน 77 ได้เกรด B+
คะแนน 77 ได้เกรด B+
คะแนน 81 ได้เกรด A
คะแนน 59 ได้เกรด D+
คะแนน 10 ได้เกรด F

In [24]:
def grading_list(list_score):
  grade_list = []
  for score in list_score:
    if score >= 80:
       grade = 'A'
    elif score >= 75:
       grade = 'B+'
    elif score >= 70:
       grade = 'B'
    elif score >= 65:
       grade = 'C+'
    elif score >= 60:
       grade = 'C'
    elif score >= 55:
       grade = 'D+'
    elif score >= 50:
       grade = 'D'
    else:
      grade = 'F'
    grade_list.append([score,grade])
  return grade_list

In [25]:
g = grading_list(score)
g

[[49, 'F'],
 [65, 'C+'],
 [70, 'B'],
 [95, 'A'],
 [82, 'A'],
 [55, 'D+'],
 [89, 'A'],
 [20, 'F'],
 [77, 'B+'],
 [77, 'B+'],
 [81, 'A'],
 [59, 'D+'],
 [10, 'F']]

In [33]:
for i in g:
    print(f'คะแนน {i[0]} ได้เกรด {i[1]}')

คะแนน 49 ได้เกรด F
คะแนน 65 ได้เกรด C+
คะแนน 70 ได้เกรด B
คะแนน 95 ได้เกรด A
คะแนน 82 ได้เกรด A
คะแนน 55 ได้เกรด D+
คะแนน 89 ได้เกรด A
คะแนน 20 ได้เกรด F
คะแนน 77 ได้เกรด B+
คะแนน 77 ได้เกรด B+
คะแนน 81 ได้เกรด A
คะแนน 59 ได้เกรด D+
คะแนน 10 ได้เกรด F

In [22]:
def grading2(score):
    if score >= 80:
        return 'A'
    elif score >= 55:
        return 'B+'
    elif score >= 70:
        return 'B'
    elif score >= 65:
        return 'C+'
    elif score >= 60:
        return 'C'
    elif score >= 55:
        return 'D+'
    elif score >= 50:
        return 'D'
    else:
        return'F'

In [23]:
score = [49,65,70,95,82,55,89,20,77,77,81,59,10]
for i in score:
    print(f'คะแนน {i} ได้เกรด {grading2(i)}')

คะแนน 49 ได้เกรด F
คะแนน 65 ได้เกรด B+
คะแนน 70 ได้เกรด B+
คะแนน 95 ได้เกรด A
คะแนน 82 ได้เกรด A
คะแนน 55 ได้เกรด B+
คะแนน 89 ได้เกรด A
คะแนน 20 ได้เกรด F
คะแนน 77 ได้เกรด B+
คะแนน 77 ได้เกรด B+
คะแนน 81 ได้เกรด A
คะแนน 59 ได้เกรด B+
คะแนน 10 ได้เกรด F

### Example2 (ไม่มี input)

In [26]:
def mypi():
    return 3.14

In [27]:
r=10
print(f'รัศมี={r} จะมีเส้นรอบวง={2*mypi()*r}')

รัศมี=10 จะมีเส้นรอบวง=62.800000000000004

###Example3(ไม่มี output)

In [28]:
def grading_nooutput(score):
    if score >= 80:
        print('ได้เกรด A')
    elif score >= 55:
        print('ได้เกรด B+')
    elif score >= 70:
        print('ได้เกรด B')
    elif score >= 65:
        print('ได้เกรด C+')
    elif score >= 60:
        print('ได้เกรด C')
    elif score >= 55:
        print('ได้เกรด D+')
    elif score >= 50:
        print('ได้เกรด D')
    else:
        print('ได้เกรด F')

In [29]:
score = [49,65,70,95,82,55,89,20,77,77,81,59,10]
for i in score:
    print(f'คะแนน {i}', end=' ')
    grading_nooutput(i)

คะแนน 49 ได้เกรด F
คะแนน 65 ได้เกรด B+
คะแนน 70 ได้เกรด B+
คะแนน 95 ได้เกรด A
คะแนน 82 ได้เกรด A
คะแนน 55 ได้เกรด B+
คะแนน 89 ได้เกรด A
คะแนน 20 ได้เกรด F
คะแนน 77 ได้เกรด B+
คะแนน 77 ได้เกรด B+
คะแนน 81 ได้เกรด A
คะแนน 59 ได้เกรด B+
คะแนน 10 ได้เกรด F

### Example3 (ไม่มี input และ output)

In [30]:
def draw_rect():
    print('===========')
    print('|         |')
    print('|         |')
    print('===========')

In [32]:
draw_rect()
draw_rect()

===========
|         |
|         |
===========
===========
|         |
|         |
===========

#### ลักษณะของ input(paremeter)


*   จำเป็นต้องใส่ (non-default argument)
*   ไม่จำเป็นต้องใส่ ()

In [36]:
def A(input1, input2 = 3):
    return input1+input2

In [42]:
A(1)  ### จะเป็นกำหนดแค่ input1=1 + input2=3 จะได้เป็น 4

4

In [44]:
A(3,6)   ### กำหนดค่า input1=3 + input2=6 จะได้เป็น 9

9

In [45]:
A()   ### ไม่กำหนดค่าจะ error เพราะไม่มีตัวที่สามารถบวกได้

TypeError: ignored

In [53]:
def printlove(input1, input2 = 'Stat', input3 = 'KKU'):
    print(f'{input1} love {input2} {input3}')

In [54]:
printlove('Naruemon')

Naruemon love Stat KKU

In [55]:
printlove('Naruemon','SI','Stat')

Naruemon love SI Stat

In [56]:
printlove(input3 = 'Nareumon', input2 = 'SI', input1 = 'Stat')

Stat love SI Nareumon

In [59]:
def printlove(input2= 'Stat', input1, input3 = 'KKU'):    ### ห้ามเอา input 'non-default' มาเรียงขึ้นก่อน ต้องเอา input1 มาขึ้นก่อน
    print(f'{input1} love {input2} {input3}')

SyntaxError: ignored

### Quiz2 ส่ง 11.05 (27/07/2021)

สร้างฟังก์ชั่น


*   วาดรูปบ้าน
*   วาดรูปต้นไม้

In [63]:
def draw_rect():
    print('    ____________        /\    ')
    print('   /\           \      /  \   ')
    print('  /  \___________\    /    \  ')
    print('  |  |  +    +   |   /__  __\ ')
    print('  |__|___________|______||____')

In [64]:
draw_rect()

    ____________        /\
   /\           \      /  \
  /  \___________\    /    \
  |  |  +    +   |   /__  __\
  |__|___________|______||____