<a href="https://colab.research.google.com/github/naruemonssp/DWDM21/blob/main/Data101(chapter2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ข้อความที่อยู่ใน textbox จะเป็นภาษา markdown

ข้อดีหนึ่งของ Python คือมี package สำหรับทำงานต่างๆมากมาย

ซึ่ง pandas เป็น package สำหรับการทำงานกับข้อมูลที่อยู่ในรูปแบบตาราง

โดย pandas จะเรียกตารางนั้นว่า dataframe

In [1]:
import pandas ### วฺะีเรียกใช้ package คือ import ตามด้วยชื่อ package

In [2]:
import pandas as pd ### เหมือนกันกับข้างบนแต่ตั้งชื่อให้ package ที่โหลดมาใหม่ว่า pd

ไฟล์ .cvs(CVS = comma separated values) เป็นไฟล์หลักที่เราจะได้ใช้กันในวิชานี้

In [4]:
data_df = pd.read_csv('data.csv')

In [5]:
data_df

    name  age       city
0    Tom   27  Khon Kaen
1   Paul   15    Bangkok
2  Sarah   49     London

In [6]:
data_df2 = pandas.read_csv('data.csv')   ### ในหนึ่งครั้งไม่จำเป็นต้องรันคำสั่งเดียว
data_df2

    name  age       city
0    Tom   27  Khon Kaen
1   Paul   15    Bangkok
2  Sarah   49     London

## Basic Pythnon

Variables

ข้อกำหนดในการตั้งชื่อตัวแปล


1. ชื่อห้ามมีเว้นวรรค
2. ใช้ชื่อเป็นภาษาอังกฤษ
3. ตัวเล็กกับตัวใหญ่ แตกต่างกัน (case sunsitive)
4. ห้ามใช้ตัวเลขเป็นตัวหน้า

In [8]:
variable_a = 12
variable_b = 'abcde'  ### ' เรียกว่า quote
variable_c = variable_a
variable_d = -41.2
variable_4 = "KKU"  ### " เรียกว่า double quote

In [11]:
variable_x = variable_c + variable_d
print(variable_x)

-29.200000000000003

In [12]:
variable_a + variable_b

TypeError: ignored

In [13]:
print(variable_b+variable_4)

abcdeKKU

# Casting int()  float()  str()

In [14]:
print(variable_x)
print(int(variable_x))

-29.200000000000003
-29

In [15]:
V_X = str(variable_x)
print(V_X)

-29.200000000000003

In [16]:
V_X + variable_a

TypeError: ignored

In [20]:
variable_a + V_X   ## error ไม่เหมือนกับด้านบน แต่ว่าก็ error ทั้งคู่  เพราะค่าแต่ละค่าไม่สามารถมาบวกกันได้

TypeError: ignored

In [21]:
V_X   ### การแสดงค่าแบบนี้คือจะบอกว่า ในตอนนี้มีการเก็บค่าแบบนี้

'-29.200000000000003'

In [23]:
float(V_X)

-29.200000000000003

## Data Structure
### list() : เป็นตัวเลขหรือตัวแปลมาต่อกัน

In [28]:
list_a = [1,2,0.2,'abs']   ### [] square brackets
list_b = [2,'xyz',list_a,[1,2,0.11]]   ### สามารถเก็บข้อมูลประเภทไหน อะไรก็ได้

In [31]:
list_a   ### ลำดับใน list มีความสำคัญ

[1, 2, 0.2, 'abs']

In [26]:
list_b

[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.11]]

In [30]:
len(list_b)   ### ดูว่า list มีสมาชิกกี่ตัว  len ย่อมาจาก lenge

4

In [32]:
list_b[3]   ### บอกตำแหน่งใน list_b

[1, 2, 0.11]

In [35]:
list_b[3][1]   ### บอกตำแหน่ง list ในลิสอีกที

2

string คือ list ของ ตัวหนังสือ

In [36]:
a = 'Stat KKU'

In [37]:
a[4]

' '

## วิธีสร้าง list ว่าง

In [38]:
list_c = list()   ### แบบที่ 1
list_d = []   ### แบบที่ 2

In [39]:
list_c

[]

In [40]:
list_d

[]

เติมค่าไปใน list (.append)

In [41]:
list_d.append('a')

In [42]:
list_d

['a']

In [43]:
list_d.append(56)

In [45]:
list_d   ### ค่าที่เติมจะเรียงต่อท้ายไปเรื่อยๆ

['a', 56]

## การชี้ค่าใน list (indexing)


1.   ใช้ลำดับในการชี้
2.   ลำดับเริ่มจาก 0
3.   สามารถชี้จากข้างหลังได้โดยใช้ negative index

In [46]:
list_b

[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.11]]

In [47]:
list_b[-1]

[1, 2, 0.11]

In [49]:
list_b[-3]

'xyz'

### list slicing

In [50]:
list_ex = [1,2,3,4,6,8,-1,20,50,0]

เราจะตัด list โดยเอาตั้งแต่ [ตัวหน้า:ตัวก่อนตัวหลัง]

ถ้าเป็นสัญลักษณ์คณิตศาสตร์ [ตัวหน้า:ตัวหลัง] ---->> [ตัวหน้า,ตัวหลัง)

In [52]:
list_ex[1:6]   ### สัญลักษณ์ slicing คือ :

[2, 3, 4, 6, 8]

In [54]:
list_ex[4:]   ### ไม่ใส่ตัวหลังแปลว่า เอาไปจนถึงตัวสุดท้าย

[6, 8, -1, 20, 50, 0]

In [56]:
list_ex[:6]   ### ไม่ใส่ตัวหน้าแปลว่า เอาตั้งแต่ตัวแรก

[1, 2, 3, 4, 6, 8]

[จุดเริ่มต้น:จุดสุดท้าย(จุดขอบเขต):step]

In [59]:
list_ex

[1, 2, 3, 4, 6, 8, -1, 20, 50, 0]

In [60]:
list_ex[::2]   ### ตัวเว้นตัว

[1, 3, 6, -1, 50]

In [61]:
list_ex[::-1]   ### การกลับ list

[0, 50, 20, -1, 8, 6, 4, 3, 2, 1]

In [62]:
a

'Stat KKU'

In [63]:
a[-3:]

'KKU'

In [64]:
a[5:]

'KKU'

In [66]:
a[5:8]

'KKU'

In [69]:
a[-3::]

'KKU'

In [71]:
a[-3::1]

'KKU'

## list + list

In [72]:
print(list_a)
print(list_b)

[1, 2, 0.2, 'abs']
[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.11]]

In [73]:
list_a + list_b

[1, 2, 0.2, 'abs', 2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.11]]

format string

```python
f'string{ตัวแปร}'
```

{} เรียกว่า curly brackets

In [77]:
f'ตัวแปร list_a มีค่าคือ {list_a}'

"ตัวแปร list_a มีค่าคือ [1, 2, 0.2, 'abs']"

## Loop

```python
for ตัวแปรที่จะรับค่าจากลิสต์ in ลิสต์ที่จะนำมาวนลูป:
  do something
```

In [76]:
for i in [1,2,3,4,5]:   ### for ตัวที่เราจะวน in จากค่าที่เรา list ไว้
    print(i+1)

2
3
4
5
6

In [78]:
for x in [1,2,3,4,5,]:
  print(f'ค่าตัวแปร x คือ {x} และ x+2={x+2}')

ค่าตัวแปร x คือ 1 และ x+2=3
ค่าตัวแปร x คือ 2 และ x+2=4
ค่าตัวแปร x คือ 3 และ x+2=5
ค่าตัวแปร x คือ 4 และ x+2=6
ค่าตัวแปร x คือ 5 และ x+2=7

In [79]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [81]:
for i in range(2,7):
  print(i)

2
3
4
5
6

In [84]:
for i in range(5):
  print('hahaha')
  x = i+3
  print(f'i={i} x={x}')

hahaha
i=0 x=3
hahaha
i=1 x=4
hahaha
i=2 x=5
hahaha
i=3 x=6
hahaha
i=4 x=7

## Nested loop

In [87]:
for i in range(3):
  print(f'now i = {i}')
  for j in range(4):
    print(f'i = {i} j = {j} i+j = {i+j}')
  print('end j loop')

now i = 0
i = 0 j = 0 i+j = 0
i = 0 j = 1 i+j = 1
i = 0 j = 2 i+j = 2
i = 0 j = 3 i+j = 3
end j loop
now i = 1
i = 1 j = 0 i+j = 1
i = 1 j = 1 i+j = 2
i = 1 j = 2 i+j = 3
i = 1 j = 3 i+j = 4
end j loop
now i = 2
i = 2 j = 0 i+j = 2
i = 2 j = 1 i+j = 3
i = 2 j = 2 i+j = 4
i = 2 j = 3 i+j = 5
end j loop

## Condition

### Function