<a href="https://colab.research.google.com/github/naruemonssp/DWDM21/blob/main/MiniExam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### ข้อสอบ

จาก data ```flights.csv``` และ ```airports.csv``` ใน https://drive.google.com/drive/folders/1EFo1_uQgWkRiXjezL0T4YwteYrsqU5MV?usp=sharing
0. หารัฐที่มีจำนวนเครื่องบินขาเข้ามากที่สุดและน้อยที่สุด
1. หารัฐที่มีจำนวนเครื่องบินขาออกมากที่สุดและน้อยที่สุด
2. วาด Histogram แสดงจำนวนเครื่องบินขาออกของแต่ละวันในสัปดาห์
3. สายการบินไหนมีเที่ยวบินมากที่สุดและน้อยที่สุด
4. สายการบินอะไรมีความล่าช้ามากที่สุดและน้อยที่สุด
5. วันธรรมดาหรือวันเสาร์-อาทิตย์มีเครื่องบินขาเข้ามากกว่ากัน (วันจันทร์ = 1, วันอังคาร = 2, ...)

ให้นักศึกษาทำข้อสอบ 2 ข้อจากที่แสดงข้างบนโดยกรอกรหัสนักศึกษาลงใน function ```gen_exams()``` แล้ว run เพื่อให้ได้ข้อสอบที่นักศึกษาต้องทำ 2 ข้อ (ข้อละ 3 คะแนน)
และให้นักศึกษาคิดโจทย์เองอีก 1 ข้อ (4 คะแนน)

In [1]:
import pandas as pd

In [2]:
from google.colab import drive 
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import os

In [5]:
flights = pd.read_csv('/content/drive/MyDrive/DWDM2021_DATA/flights.csv')
flights

         วันในเดือน  วันในสัปดาห์  ... ความล่าช้าขาออก  ความล่าช้าขาเข้า
0                19             5  ...              -3                 1
1                19             5  ...               0                -8
2                19             5  ...              -4               -15
3                19             5  ...              28                24
4                19             5  ...              -6               -11
...             ...           ...  ...             ...               ...
2702213          19             6  ...               1                -3
2702214          19             6  ...              -2                -3
2702215          19             6  ...              18                 9
2702216          19             6  ...              10                 7
2702217          19             6  ...               0               -13

[2702218 rows x 7 columns]

In [6]:
airports = pd.read_csv('/content/drive/MyDrive/DWDM2021_DATA/airports.csv')
airports

     รหัสสนามบิน         เมือง รัฐ                          ชื่อสนามบิน
0          10165   Adak Island  AK                                 Adak
1          10299     Anchorage  AK  Ted Stevens Anchorage International
2          10304         Aniak  AK                        Aniak Airport
3          10754        Barrow  AK      Wiley Post/Will Rogers Memorial
4          10551        Bethel  AK                       Bethel Airport
..           ...           ...  ..                                  ...
360        11233      Cheyenne  WY  Cheyenne Regional/Jerry Olson Field
361        11097          Cody  WY                 Yellowstone Regional
362        11865      Gillette  WY             Gillette Campbell County
363        12441       Jackson  WY                         Jackson Hole
364        14543  Rock Springs  WY       Rock Springs Sweetwater County

[365 rows x 4 columns]

In [10]:
def gen_exams(ID):
    import math
    a = int(ID[-1])%6
    b = int(ID[-1])%3
    print(f'รหัสนักศึกษา {ID} ทำข้อ {a} และ {b if a != b else 5-b}')

In [12]:
gen_exams('623021050-6')   ### สุ่มโจทย์จากรหัสนักศึกษา

รหัสนักศึกษา 623021050-6 ทำข้อ 0 และ 5

In [92]:
airports.isnull().any() # เช็คหาค่าว่าง

รหัสสนามบิน    False
เมือง          False
รัฐ            False
ชื่อสนามบิน    False
dtype: bool

In [93]:
flights.isnull().any() # เช็คหาค่าว่าง

วันในเดือน            False
วันในสัปดาห์          False
สายการบิน             False
รหัสสนามบินต้นทาง     False
รหัสสนามบินปลายทาง    False
ความล่าช้าขาออก       False
ความล่าช้าขาเข้า      False
dtype: bool

### เชื่อมตาราง flights กับ airports เข้าด้วยกัน .merge()

ด้วย รหัสสนามบิน และ รหัสสนามบินปลายทาง

In [36]:
FAdata_table = flights.merge(airports,how='left',left_on='รหัสสนามบินปลายทาง',right_on='รหัสสนามบิน')

In [38]:
FAdata_table

         วันในเดือน  ...                                ชื่อสนามบิน
0                19  ...                        Miami International
1                19  ...              John F. Kennedy International
2                19  ...               Salt Lake City International
3                19  ...                 Detroit Metro Wayne County
4                19  ...                  Los Angeles International
...             ...  ...                                        ...
2702213          19  ...               Salt Lake City International
2702214          19  ...  Louis Armstrong New Orleans International
2702215          19  ...   Hartsfield-Jackson Atlanta International
2702216          19  ...                      Memphis International
2702217          19  ...          Minneapolis-St Paul International

[2702218 rows x 11 columns]

#### ตรวจสอบหาค่า missing 

โดยใช้ .dropna()

In [39]:
FAdata_table.dropna()

         วันในเดือน  ...                                ชื่อสนามบิน
0                19  ...                        Miami International
1                19  ...              John F. Kennedy International
2                19  ...               Salt Lake City International
3                19  ...                 Detroit Metro Wayne County
4                19  ...                  Los Angeles International
...             ...  ...                                        ...
2702213          19  ...               Salt Lake City International
2702214          19  ...  Louis Armstrong New Orleans International
2702215          19  ...   Hartsfield-Jackson Atlanta International
2702216          19  ...                      Memphis International
2702217          19  ...          Minneapolis-St Paul International

[2702218 rows x 11 columns]

## **ข้อ 0.หารัฐที่มีจำนวนเครื่องบินขาเข้ามากที่สุดและน้อยที่สุด**

In [95]:
FAmax = FAdata_table.groupby('รัฐ').count().sort_values(by=['รหัสสนามบินปลายทาง'],ascending=False)
FAmax.iloc[:,7:8]

     รหัสสนามบิน
รัฐ
CA        380429
TX        275328
FL        208291
IL        176857
GA        148524
NY        132522
NC        104839
AZ        100824
CO         96919
NV         88179
DC         80666
PA         67955
MA         66833
OH         66236
NJ         64071
MO         63593
MI         62728
WA         60237
MN         60015
TN         53470
MD         51679
UT         47410
OR         30579
HI         28402
LA         25189
VA         21539
WI         21005
IN         18085
NM         17558
OK         13902
PR         13787
NE         13516
CT         13071
KY         10945
RI          9324
AK          7711

หารัฐที่มีจำนวนเครื่องบินขาเข้ามากที่สุด

In [98]:
FAmax.iloc[:1,7:8]

     รหัสสนามบิน
รัฐ
CA        380429

หารัฐที่มีจำนวนเครื่องบินขาเข้าน้อยที่สุด

In [100]:
FAmin.iloc[-1:,7:8]

     รหัสสนามบิน
รัฐ
NM         10140

## **ข้อ 5.วันธรรมดาหรือวันเสาร์-อาทิตย์มีเครื่องบินขาเข้ามากกว่ากัน (วันจันทร์ = 1, วันอังคาร = 2, ...)**

หารหัสสนามบินปลายทางและวันในสัปดาห์

In [70]:
FAdata_table[['รหัสสนามบินปลายทาง','วันในสัปดาห์']]

         รหัสสนามบินปลายทาง  วันในสัปดาห์
0                     13303             5
1                     12478             5
2                     14869             5
3                     11433             5
4                     12892             5
...                     ...           ...
2702213               14869             6
2702214               13495             6
2702215               10397             6
2702216               13244             6
2702217               13487             6

[2702218 rows x 2 columns]

หาจำนวนเครื่องบินขาเข้าในแต่ละวัน

In [72]:
FAday = FAdata_table.groupby('วันในสัปดาห์').count().sort_values(by=['รหัสสนามบินปลายทาง'],ascending=False)
FAday.iloc[:,3:4]

              รหัสสนามบินปลายทาง
วันในสัปดาห์
1                         407837
4                         406563
3                         403072
2                         397594
5                         396387
7                         372228
6                         318537

หาจำนวนเครื่องบินขาเข้าในวันธรรมดา

In [75]:
M_Fday = FAday.iloc[:5,3:4].sum() 
M_Fday

รหัสสนามบินปลายทาง    2011453
dtype: int64

หาจำนวนเครื่องบินขาเข้าในวันเสาร์-อาทิตย์

In [76]:
S_Sday = week.iloc[5:7,3:4].sum() 
S_Sday

รหัสสนามบินปลายทาง    690765
dtype: int64

## **ข้อคิดเอง สายการบินใดมีขาออกมากและน้อยที่สุด**

In [80]:
FAdata_table[['รหัสสนามบินต้นทาง','สายการบิน']]

         รหัสสนามบินต้นทาง สายการบิน
0                    11433        DL
1                    14869        DL
2                    14057        DL
3                    15016        DL
4                    11193        DL
...                    ...       ...
2702213              13204        DL
2702214              10397        DL
2702215              10140        DL
2702216              10397        DL
2702217              10397        DL

[2702218 rows x 2 columns]

หาสายการบินที่มีขาออกมากที่สุด

In [85]:
EX_max = FAdata_table.groupby('สายการบิน').count().sort_values(by=['รหัสสนามบินต้นทาง'],ascending=False) 
EX_max.iloc[:1,3:4]

           รหัสสนามบินปลายทาง
สายการบิน
WN                     575739

หาสายการบินที่มีขาออกน้อยที่สุด

In [90]:
EX_min = FAdata_table.groupby('สายการบิน').count().sort_values(by=['รหัสสนามบินต้นทาง'],ascending=True)
EX_min.iloc[:1,3:4]

           รหัสสนามบินปลายทาง
สายการบิน
HA                      17432