<a href="https://colab.research.google.com/github/naruemonssp/DWDM21/blob/main/Project_G_Final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **สมาชิก**



1.   623020516-1 นางสาวชนัญชิดา เมธีกุลมานิต
2.   623020521-8 นางสาวณิชากร ไชยสุวรรณ
3.   623021040-9 นางสาวกิตติมา อุปสุข
4.   623021050-6 นางสาวนฤมล ไสยโสภณ
5.   623021052-2 นางสาวภิญญาดา เพ็ญสุข

**แหล่งที่มาของข้อมูล**

* ย่านชุมชนเก่า แหล่งที่มาของข้อมูล

https://data.go.th/dataset/old-community?fbclid=IwAR0TJxEAwTtBKYS853iy-LVEDE09z9WawwXii0BufdHWwojpU0_Lvw3ciYM

* ผู้เยี่ยมเยือน จำแนกตามรายจังหวัด แหล่งที่มาของข้อมูล

https://data.go.th/dataset/visitors?fbclid=IwAR0mLjK4IUjLWa99UBhG5sM6FGGnicg_iVRzQHTp8btujsUbFEOzmGFaRYA

* รายได้จากการท่องเที่ยว จำแนกตามรายจังหวัด แหล่งที่มา

https://data.go.th/dataset/1559?fbclid=IwAR3-ZnxUzDyap-vs3T3vdkkwXgIu5ye3pwha8okKoZk6MQMhYl6KNmYeu9M

In [16]:
import pandas as pd # ทำงานกับข้อมูลลักษณะตาราง

In [17]:
from google.colab import drive # package เชื่อม google  drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [18]:
ls # ตรวจสอบว่า colab เชื่อมต่อ google drive

drive/  sample_data/

In [19]:
import os # จัดการไฟล์และ path (ที่อยู่ของไฟล์)

In [20]:
path = '/content/drive/My Drive/DWDM2021_DATA'

### **Preprocessing**

**นำเข้าข้อมูล**


**ข้อมูลที่ 1 ย่านชุมชนเก่า**

In [21]:
data_1 = pd.read_csv(os.path.join(path,'old-community-area-updated-may-ใหม่ล่าสุด.csv')) # ย่านชุมชนเก่า
data_1

     ลำดับที่  ...                                        ลักษณะสำคัญ
0           1  ...  นครชุม เป็นชุมชนตลาดการค้า ที่มีประวัติความเป็...
1           2  ...  บ้านพรานกระต่าย เป็นชุมชนเกษตรกรรมชนบท ที่มีเร...
2           3  ...  บ้านห้วยแม่ซ้าย เป็นชุมชนเกษตรกรรม และชุมชนชาต...
3           4  ...  บ้านถ้ำผาตอง เป็นชุมชนเกษตรกรรม และชุมชนกลุ่มอ...
4           5  ...  บ้านกะเหรี่ยงรวมมิตร เป็นชุมชนเกษตรกรรม ชุมชนต...
..        ...  ...                                                ...
608       609  ...  ชุมชนบ้านปะอาว เป็นชุมชนชนบทตั้งอยู่บนที่ดอน พ...
609       610  ...  ชุมชนพาณิชยกรรมเก่า เป็นย่านพาณิชยกรรมเก่าแห่ง...
610       611  ...  ชุมชนแก่งสะพือ เป็นย่านชุมชนเก่าริมน้ำแม่น้ำมู...
611       612  ...  ชุมชนบ้านแคน เป็นชุมชนชนบทตั้งอยู่บนที่ดอน พื้...
612       613  ...  ชุมชนบ้านชาด เป็นชุมชนเก่าตั้งอยู่ใกล้กับแหล่ง...

[613 rows x 10 columns]

**ตาราง data_city คือ ข้อมูลย่านชุมชนเก่า**

**คำอธิบายตาราง**

*   ชื่อย่านชุมชนเก่า คือ ชื่อของชุมชนเก่า
*   ตำบล คือ ที่ตั้งของชุมชนเก่า
* อำเภอ คือ ที่ตั้งของชุมชนเก่า
* จังหวัด คือ เขตที่ตั้งของชุมชนเก่า
* ภาค คือ ภูมิประเทศที่ตั้งของชุมชนเก่า
* East คือ ลองจิจูดองศาตะวันออกที่ตั้งของชุมชนเก่า
* North คือ ละติจูดองศาเหนือที่ตั้งของชุมชนเก่า
*ลักษณะชุมชน คือ เป็นการบอกถึงลักษณะของชุมชนเก่า
* ลักษณะสำคัญ คือ รายละเอียดของชุมชนเก่า

In [22]:
data_city = data_1[['ชื่อย่านชุมชนเก่า','ตำบล','อำเภอ','จังหวัด','ภาค','East','North','ลักษณะชุมชน','ลักษณะสำคัญ']] # ย่านชุมชนเก่า
data_city

              ชื่อย่านชุมชนเก่า  ...                                        ลักษณะสำคัญ
0                        นครชุม  ...  นครชุม เป็นชุมชนตลาดการค้า ที่มีประวัติความเป็...
1               บ้านพรานกระต่าย  ...  บ้านพรานกระต่าย เป็นชุมชนเกษตรกรรมชนบท ที่มีเร...
2    บ้านห้วยแม่ซ้าย (บ้านยะฟู)  ...  บ้านห้วยแม่ซ้าย เป็นชุมชนเกษตรกรรม และชุมชนชาต...
3                  บ้านถ้ำผาตอง  ...  บ้านถ้ำผาตอง เป็นชุมชนเกษตรกรรม และชุมชนกลุ่มอ...
4          บ้านกะเหรี่ยงรวมมิตร  ...  บ้านกะเหรี่ยงรวมมิตร เป็นชุมชนเกษตรกรรม ชุมชนต...
..                          ...  ...                                                ...
608              ชุมชนบ้านปะอาว  ...  ชุมชนบ้านปะอาว เป็นชุมชนชนบทตั้งอยู่บนที่ดอน พ...
609         ชุมชนพาณิชยกรรมเก่า  ...  ชุมชนพาณิชยกรรมเก่า เป็นย่านพาณิชยกรรมเก่าแห่ง...
610              ชุมชนแก่งสะพือ  ...  ชุมชนแก่งสะพือ เป็นย่านชุมชนเก่าริมน้ำแม่น้ำมู...
611                ชุมชนบ้านแคน  ...  ชุมชนบ้านแคน เป็นชุมชนชนบทตั้งอยู่บนที่ดอน พื้...
612                ชุมชนบ้านชาด  ...  ชุมชนบ้านชาด เป็นชุมชนเก่าตั้งอยู่ใกล้กับแหล่ง...

[613 rows x 9 columns]

ตรวจสอบค่า missing ของข้อมูลตาราง data_city

In [23]:
data_city.isnull().any()

ชื่อย่านชุมชนเก่า    False
ตำบล                 False
อำเภอ                False
จังหวัด              False
ภาค                  False
East                 False
North                False
ลักษณะชุมชน          False
ลักษณะสำคัญ          False
dtype: bool

แสดงผลเป็น False ทั้งหมด แปลว่า ไม่มีค่า missing ในข้อมูล ย่านชุมชนเก่า

#### ข้อมูลที่ 2 ผู้เยี่ยมเยือน จำแนกตามจังหวัด

In [24]:
data_2= pd.read_csv(os.path.join(path,'visitors.csv'))  # ผู้เยี่ยมเยือน จำแนกตามจังหวัด
data_2

            จังหวัด รหัสจังหวัด        2549  ...      2560      2561  Unnamed: 15
0     กรุงเทพมหานคร       th-bm  36172138.0  ...  63575737  65534281          NaN
1       สมุทรปราการ       th-sp    958352.0  ...   3218934   3373639          NaN
2           นนทบุรี       th-no    830593.0  ...   2514677   2664025          NaN
3          ปทุมธานี       th-pt    868449.0  ...   2014281   2098344          NaN
4   พระนครศรีอยุธยา       th-pa   3373929.0  ...   7631557   8349613          NaN
..              ...         ...         ...  ...       ...       ...          ...
72             ตรัง       th-tg    726373.0  ...   1514092   1578906          NaN
73           พัทลุง       th-pl    448000.0  ...   1569333   1641841          NaN
74          ปัตตานี       th-pi    160320.0  ...    272739    281988          NaN
75             ยะลา       th-yl    282463.0  ...    657317    680018          NaN
76         นราธิวาส       th-nw    336473.0  ...    665710    692057          NaN

[77 rows x 16 columns]

ตัดตารางข้อมูลของ data_2 เลือกเฉพาะข้อมูลปี 2555-2561

In [25]:
data_visitor = data_2[['จังหวัด','รหัสจังหวัด','2555','2556','2557','2558','2559','2560','2561']] # ผู้เยี่ยมเยือน จำแนกตามจังหวัด
data_visitor

            จังหวัด รหัสจังหวัด      2555  ...      2559      2560      2561
0     กรุงเทพมหานคร       th-bm  47185031  ...  59196331  63575737  65534281
1       สมุทรปราการ       th-sp   2107433  ...   2900180   3218934   3373639
2           นนทบุรี       th-no   1663990  ...   2090095   2514677   2664025
3          ปทุมธานี       th-pt   1474292  ...   1896549   2014281   2098344
4   พระนครศรีอยุธยา       th-pa   6066545  ...   7216514   7631557   8349613
..              ...         ...       ...  ...       ...       ...       ...
72             ตรัง       th-tg   1137961  ...   1465811   1514092   1578906
73           พัทลุง       th-pl   1089992  ...   1487188   1569333   1641841
74          ปัตตานี       th-pi    214285  ...    257143    272739    281988
75             ยะลา       th-yl    429044  ...    624879    657317    680018
76         นราธิวาส       th-nw    489944  ...    646020    665710    692057

[77 rows x 9 columns]

เปลี่ยนชื่อ column (data_visitor)

In [26]:
data_visitor.rename(columns={'2555':'visitor2555'},inplace=True)
data_visitor.rename(columns={'2556':'visitor2556'},inplace=True)
data_visitor.rename(columns={'2557':'visitor2557'},inplace=True)
data_visitor.rename(columns={'2558':'visitor2558'},inplace=True)
data_visitor.rename(columns={'2559':'visitor2559'},inplace=True)
data_visitor.rename(columns={'2560':'visitor2560'},inplace=True)
data_visitor.rename(columns={'2561':'visitor2561'},inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

**ตาราง data_visitor คือ ข้อมูลผู้เยี่ยมเยือน จำแนกตามจังหวัด**

**คำอธิบายตาราง**

* จังหวัด คือ ที่ตั้งของแหล่งท่องเที่ยว
* รหัสจังหวัด คือ รหัสประจำของจังหวัดนั้นๆ 
* 2555visitor คือ จำนวนผู้ที่มาเยี่ยมชมแหล่งท่องเที่ยวในจังหวัดนั้นๆ 
* 2556visitor คือ จำนวนผู้ที่มาเยี่ยมชมแหล่งท่องเที่ยวในจังหวัดนั้นๆ 
* 2557visitor คือ จำนวนผู้ที่มาเยี่ยมชมแหล่งท่องเที่ยวในจังหวัดนั้นๆ 
* 2558visitor คือ จำนวนผู้ที่มาเยี่ยมชมแหล่งท่องเที่ยวในจังหวัดนั้นๆ 
* 2559visitor คือ จำนวนผู้ที่มาเยี่ยมชมแหล่งท่องเที่ยวในจังหวัดนั้นๆ 
* 2560visitor คือ จำนวนผู้ที่มาเยี่ยมชมแหล่งท่องเที่ยวในจังหวัดนั้นๆ 
* 2561visitor คือ จำนวนผู้ที่มาเยี่ยมชมแหล่งท่องเที่ยวในจังหวัดนั้นๆ

In [27]:
data_visitor

            จังหวัด รหัสจังหวัด  ...  visitor2560  visitor2561
0     กรุงเทพมหานคร       th-bm  ...     63575737     65534281
1       สมุทรปราการ       th-sp  ...      3218934      3373639
2           นนทบุรี       th-no  ...      2514677      2664025
3          ปทุมธานี       th-pt  ...      2014281      2098344
4   พระนครศรีอยุธยา       th-pa  ...      7631557      8349613
..              ...         ...  ...          ...          ...
72             ตรัง       th-tg  ...      1514092      1578906
73           พัทลุง       th-pl  ...      1569333      1641841
74          ปัตตานี       th-pi  ...       272739       281988
75             ยะลา       th-yl  ...       657317       680018
76         นราธิวาส       th-nw  ...       665710       692057

[77 rows x 9 columns]

ตรวจสอบค่า missing ของข้อมูลตาราง data_visitor

In [28]:
data_visitor.isnull().any()

จังหวัด        False
รหัสจังหวัด    False
visitor2555    False
visitor2556    False
visitor2557    False
visitor2558    False
visitor2559    False
visitor2560    False
visitor2561    False
dtype: bool

แสดงผลเป็น false ทั้งหมด หมายความว่า ไม่มีค่า Missing ในข้อมูล ผู้เยี่ยมเยือน จำแนกตามจังหวัด

#### ข้อมููลที่ 3 รายได้จากการท่องเที่ยว จำแนกตามจังหวัด

In [29]:
data_3= pd.read_csv(os.path.join(path,'revenue.csv')) # รายได้จากการท่องเที่ยว จำแนกตามจังหวัด
data_3

          จังหวัด รหัสจังหวัด       2555  ...       2559          2560        2561
0   กรุงเทพมหานคร       th-bm  570327.58  ...  822454.21  947946.30000  1051118.51
1       กาญจนบุรี       th-kn   11910.00  ...   20404.73   24440.77288    27138.35
2        จันทบุรี       th-ct    4214.00  ...    5630.03    7628.47000     8469.45
3      ฉะเชิงเทรา       th-cc    3571.69  ...    4240.41    4655.55000     5007.28
4          ชลบุรี       th-cb  100537.00  ...  187788.42  240610.45000   272435.77
..            ...         ...        ...  ...        ...           ...         ...
72          ระนอง       th-rn    2780.00  ...    3954.75    4311.07000     4706.13
73          สงขลา       th-sg   26702.00  ...   53493.02   59831.77000    68097.42
74           สตูล       th-sa    5332.00  ...    7438.85    8168.70000     9101.47
75   สุราษฎร์ธานี       th-st   35312.00  ...   76546.39   92228.01000   104503.71
76         บึงกาฬ       th-bk       0.00  ...     900.50     976.61000     1047.13

[77 rows x 9 columns]

ตัดตารางข้อมูลของ data_3 เลือกเฉพาะข้อมูลปี 2555-2561

In [30]:
data_income = data_3[['รหัสจังหวัด','2555','2556','2557','2558','2559','2560','2561']] #รายได้จากการท่องเที่ยว จำแนกตามจังหวัด
data_income

   รหัสจังหวัด       2555       2556  ...       2559          2560        2561
0        th-bm  570327.58  626535.05  ...  822454.21  947946.30000  1051118.51
1        th-kn   11910.00   13417.00  ...   20404.73   24440.77288    27138.35
2        th-ct    4214.00    4569.00  ...    5630.03    7628.47000     8469.45
3        th-cc    3571.69    3735.06  ...    4240.41    4655.55000     5007.28
4        th-cb  100537.00  111109.00  ...  187788.42  240610.45000   272435.77
..         ...        ...        ...  ...        ...           ...         ...
72       th-rn    2780.00    3250.00  ...    3954.75    4311.07000     4706.13
73       th-sg   26702.00   37276.00  ...   53493.02   59831.77000    68097.42
74       th-sa    5332.00    5905.00  ...    7438.85    8168.70000     9101.47
75       th-st   35312.00   51550.00  ...   76546.39   92228.01000   104503.71
76       th-bk       0.00       0.00  ...     900.50     976.61000     1047.13

[77 rows x 8 columns]

เปลี่ยนชื่อ column (data_income)

In [31]:
data_income.rename(columns={'2555':'income2555'},inplace=True)
data_income.rename(columns={'2556':'income2556'},inplace=True)
data_income.rename(columns={'2557':'income2557'},inplace=True)
data_income.rename(columns={'2558':'income2558'},inplace=True)
data_income.rename(columns={'2559':'income2559'},inplace=True)
data_income.rename(columns={'2560':'income2560'},inplace=True)
data_income.rename(columns={'2561':'income2561'},inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

**ตาราง data_income คือ รายได้จากการท่องเที่ยว จำแนกตามจังหวัด**

**คำอธิบายตาราง**

* รหัสจังหวัด คือ รหัสประจำของจังหวัดนั้นๆ 
* 2555income คือ รายได้จากผูู้ที่มาเยี่ยมชมแหล่งท่องเที่ยวในจังหวัดนั้นๆ 
* 2556income คือ รายได้จากผูู้ที่มาเยี่ยมชมแหล่งท่องเที่ยวในจังหวัดนั้นๆ  
* 2557income คือ รายได้จากผูู้ที่มาเยี่ยมชมแหล่งท่องเที่ยวในจังหวัดนั้นๆ 
* 2558income คือ รายได้จากผูู้ที่มาเยี่ยมชมแหล่งท่องเที่ยวในจังหวัดนั้นๆ 
* 2559income คือ รายได้จากผูู้ที่มาเยี่ยมชมแหล่งท่องเที่ยวในจังหวัดนั้นๆ 
* 2560income คือ รายได้จากผูู้ที่มาเยี่ยมชมแหล่งท่องเที่ยวในจังหวัดนั้นๆ 
* 2561income คือ รายได้จากผูู้ที่มาเยี่ยมชมแหล่งท่องเที่ยวในจังหวัดนั้นๆ

In [32]:
data_income

   รหัสจังหวัด  income2555  income2556  ...  income2559    income2560  income2561
0        th-bm   570327.58   626535.05  ...   822454.21  947946.30000  1051118.51
1        th-kn    11910.00    13417.00  ...    20404.73   24440.77288    27138.35
2        th-ct     4214.00     4569.00  ...     5630.03    7628.47000     8469.45
3        th-cc     3571.69     3735.06  ...     4240.41    4655.55000     5007.28
4        th-cb   100537.00   111109.00  ...   187788.42  240610.45000   272435.77
..         ...         ...         ...  ...         ...           ...         ...
72       th-rn     2780.00     3250.00  ...     3954.75    4311.07000     4706.13
73       th-sg    26702.00    37276.00  ...    53493.02   59831.77000    68097.42
74       th-sa     5332.00     5905.00  ...     7438.85    8168.70000     9101.47
75       th-st    35312.00    51550.00  ...    76546.39   92228.01000   104503.71
76       th-bk        0.00        0.00  ...      900.50     976.61000     1047.13

[77 rows x 8 columns]

ตรวจสอบค่า missing ของข้อมูลตาราง data_income

In [33]:
data_income.isnull().any()

รหัสจังหวัด    False
income2555     False
income2556     False
income2557     False
income2558     False
income2559     False
income2560     False
income2561     False
dtype: bool

แสดงผลเป็น false ทั้งหมด หมายความว่า ไม่มีค่า missing ในข้อมูล รายได้จากการท่องเที่ยว จำแนกตามจังหวัด

### รวม 2 ตารางเข้าด้วยกัน .merge()

เชื่อมตาราง data_visitor กับตาราง data_income เข้าด้วยกันด้วย 'รหัสจังหวัด'

In [34]:
merged_data_visitor_data_income = data_visitor.merge(data_income,how='left',left_on='รหัสจังหวัด',right_on='รหัสจังหวัด') 
merged_data_visitor_data_income

            จังหวัด รหัสจังหวัด  ...  income2560  income2561
0     กรุงเทพมหานคร       th-bm  ...   947946.30  1051118.51
1       สมุทรปราการ       th-sp  ...     6144.65     6656.34
2           นนทบุรี       th-no  ...     3963.09     4368.99
3          ปทุมธานี       th-pt  ...     3172.61     3443.06
4   พระนครศรีอยุธยา       th-pa  ...    16901.48    18718.90
..              ...         ...  ...         ...         ...
72             ตรัง       th-tg  ...     9028.01     9916.29
73           พัทลุง       th-pl  ...     3155.92     3489.08
74          ปัตตานี       th-pi  ...      996.16     1100.97
75             ยะลา       th-yl  ...     3145.57     3443.17
76         นราธิวาส       th-nw  ...     2888.53     3137.67

[77 rows x 16 columns]

In [35]:
merged_data_visitor_data_income.isnull().any() # ตรวจสอบค่า missing

จังหวัด        False
รหัสจังหวัด    False
visitor2555    False
visitor2556    False
visitor2557    False
visitor2558    False
visitor2559    False
visitor2560    False
visitor2561    False
income2555     False
income2556     False
income2557     False
income2558     False
income2559     False
income2560     False
income2561     False
dtype: bool

แสดงผลเป็น false ทั้งหมด หมายความว่า ไม่มีค่า missing ในข้อมูล จากการรวมตารางของ รายได้ และ ผู้เยี่ยมเยือนเข้าด้วยกัน

#### หลังจากผ่านการตรวจสอบ missing แล้ว นำข้อมูลที่ได้จากการรวมตารางครั้งแรกมาเชื่อมกับตาราง data_city

In [36]:
data_mix = merged_data_visitor_data_income.merge(data_city,how='left',left_on='จังหวัด',right_on='จังหวัด')
data_mix

           จังหวัด  ...                                        ลักษณะสำคัญ
0    กรุงเทพมหานคร  ...                                                NaN
1      สมุทรปราการ  ...  ชุมชนเมืองนครเขื่อนขันธ์ เป็นชุมชนย่านการค้าเก...
2      สมุทรปราการ  ...  ชุมชนตลาดบางพลี เป็นชุมชนย่านตลาดการค้าเก่าแก่...
3      สมุทรปราการ  ...  ชุมชนตลาดคลองสวน เป็นชุมชนย่านตลาดการค้า บริเว...
4      สมุทรปราการ  ...  ชุมชนบ้านสาขลา เป็นชุมชนประมงของชาวนาเกลือ ที่...
..             ...  ...                                                ...
609       นราธิวาส  ...  ดุซงญอ เป็นชุมชนตลาด และชุมชนความทรงจำ "ดุซงญอ...
610       นราธิวาส  ...  ตะโละมาเนาะ เป็นชุมชนเกษตรกรรม และชุมชนโดยรอบโ...
611       นราธิวาส  ...  ละหาร เป็นชุมชนเกษตรกรรม บ้านละหารตั้งอยู่ในอำ...
612       นราธิวาส  ...  ตลาดยี่งอ เป็นชุมชนตลาด "เมืองยี่งอ" อาจจะเรีย...
613       นราธิวาส  ...  ตลาดสุไหงปาดี เป็นชุมชนตลาด และชุมชนโดยรอบทางร...

[614 rows x 24 columns]

In [37]:
data_mix.isnull().any() # ตรวจสอบค่า missing

จังหวัด              False
รหัสจังหวัด          False
visitor2555          False
visitor2556          False
visitor2557          False
visitor2558          False
visitor2559          False
visitor2560          False
visitor2561          False
income2555           False
income2556           False
income2557           False
income2558           False
income2559           False
income2560           False
income2561           False
ชื่อย่านชุมชนเก่า     True
ตำบล                  True
อำเภอ                 True
ภาค                   True
East                  True
North                 True
ลักษณะชุมชน           True
ลักษณะสำคัญ           True
dtype: bool

ในการแสดงผล พบว่ามีข้อมูล ชื่อย่านชุมชนเก่า,ตำบล,อำเภอ,ภาค,East,North ,ลักษณะสำคัญ ที่ยังมีค่า missing อยู่ จึงต้องทำการจัดการค่า Missing ก่อน

#### จัดการค่า missing ด้วยวิธี Handling missing (แทนด้วย class ใหม่ (unknow) ) โดยใช้คำสั่ง .fillna()

In [38]:
data_mix[['ชื่อย่านชุมชนเก่า']] = data_mix[['ชื่อย่านชุมชนเก่า']].fillna('ไม่มีข้อมูล')
data_mix[['ตำบล']] =data_mix[['ตำบล']].fillna('ไม่มีข้อมูล')
data_mix[['อำเภอ']] = data_mix[['อำเภอ']].fillna('ไม่มีข้อมูล')
data_mix[['ภาค']] = data_mix[['ภาค']].fillna('ไม่มีข้อมูล')
data_mix[['East']] =data_mix[['East']].fillna('ไม่มีข้อมูล')
data_mix[['North']] =data_mix[['North']].fillna('ไม่มีข้อมูล')
data_mix[['ลักษณะชุมชน']] =data_mix[['ลักษณะชุมชน']].fillna('ไม่มีข้อมูล')
data_mix[['ลักษณะสำคัญ']] =data_mix[['ลักษณะสำคัญ']].fillna('ไม่มีข้อมูล')

In [39]:
data_mix.isnull().any() # ตรวจสอบอีกรอบ

จังหวัด              False
รหัสจังหวัด          False
visitor2555          False
visitor2556          False
visitor2557          False
visitor2558          False
visitor2559          False
visitor2560          False
visitor2561          False
income2555           False
income2556           False
income2557           False
income2558           False
income2559           False
income2560           False
income2561           False
ชื่อย่านชุมชนเก่า    False
ตำบล                 False
อำเภอ                False
ภาค                  False
East                 False
North                False
ลักษณะชุมชน          False
ลักษณะสำคัญ          False
dtype: bool

In [40]:
data_mix

           จังหวัด  ...                                        ลักษณะสำคัญ
0    กรุงเทพมหานคร  ...                                        ไม่มีข้อมูล
1      สมุทรปราการ  ...  ชุมชนเมืองนครเขื่อนขันธ์ เป็นชุมชนย่านการค้าเก...
2      สมุทรปราการ  ...  ชุมชนตลาดบางพลี เป็นชุมชนย่านตลาดการค้าเก่าแก่...
3      สมุทรปราการ  ...  ชุมชนตลาดคลองสวน เป็นชุมชนย่านตลาดการค้า บริเว...
4      สมุทรปราการ  ...  ชุมชนบ้านสาขลา เป็นชุมชนประมงของชาวนาเกลือ ที่...
..             ...  ...                                                ...
609       นราธิวาส  ...  ดุซงญอ เป็นชุมชนตลาด และชุมชนความทรงจำ "ดุซงญอ...
610       นราธิวาส  ...  ตะโละมาเนาะ เป็นชุมชนเกษตรกรรม และชุมชนโดยรอบโ...
611       นราธิวาส  ...  ละหาร เป็นชุมชนเกษตรกรรม บ้านละหารตั้งอยู่ในอำ...
612       นราธิวาส  ...  ตลาดยี่งอ เป็นชุมชนตลาด "เมืองยี่งอ" อาจจะเรีย...
613       นราธิวาส  ...  ตลาดสุไหงปาดี เป็นชุมชนตลาด และชุมชนโดยรอบทางร...

[614 rows x 24 columns]

#### ข้อมููลที่ 4 จำนวนประชากร จำแนกตามรายจังหวัด ปี 2561

In [41]:
data_pop = pd.read_csv(os.path.join(path,'stat_c61.csv')) 
data_pop

FileNotFoundError: ignored

เชื่อม data_pop เข้ากับ data_mix เข้ากันด้วย 'รหัสจังหวัด' จะได้ data_all

In [ ]:
data_all = data_mix.merge(data_pop,how='left',left_on='รหัสจังหวัด',right_on='รหัสจังหวัด')
data_all

In [ ]:
data_all.isnull().any() # ตรวจสอบอีกรอบ

Plot กราฟ ดูลักษณะข้อมูล รายได้จากการท่องเที่ยว จำแนกตามรายจังหวัด ปี 2561

In [ ]:
import matplotlib.pyplot as plt
from matplotlib import pyplot as plt
import numpy as np
import pandas as pd

In [ ]:
data_all.iloc[:,15:16] # ต้องการดู column income2561 # แต่ไม่ใส่ใน ppt

In [ ]:
data_all.plot.scatter('จังหวัด','income2561', s = 20) # plot กราฟ ดูารกระจายของข้อมูล

จากกราฟ จะเห็นได้ว่าไม่มีการกระจายของข้อมูล

In [ ]:
bucket = ['low','median','high'] # ข้ามก่อน
data_all['group_income'] = pd.cut(data_all.income2561,
                            bins=[0,49999,99999,1200000],
                            labels=bucket,
                            right=False).astype(str).astype(CategoricalDtype(bucket,ordered=True))

In [ ]:
data_all

In [ ]:
data_all['group_income'] = data_all['group_income'].map({'low':1,'median':2,'high':3}) # ข้าม 
data_all

#### **คำถาม**

###ข้อมูลจำนวนครัวเรือน ข้อมูลจำนวนประชากรแต่ละจังหวัด รายได้จากการท่องเที่ยวของแต่ละจังหวัด ใช้ทำนายลักษณะของชุมชนเก่าว่ามีลักษณะอย่างไร

## **Classification**

###ทำนายลักษณะชุมชน จาก จำนวนครัวเรือน, จำนวนประชากร และ รายได้

เลือกข้อมูล column ที่ต้องการจะใช้ ได้แก่ 
* House = จำนวนครัวเรือน
* Total = จำนวนประชากร จำแนกตามรายจังหวัด ปี 2561
* income2561 = รายได้จากการท่องเที่ยว จำแนกตามรายจังหวัด ปี 2561
* ลักษณะชุมชน = แสดงรายละเอียดลักษณะสำคัญของชุมชน

In [ ]:
data_cut = data_all[['House','Total','income2561','ลักษณะชุมชน']]
data_cut

#Decision tree

ขั้นตอนนี้ คือ การกำหนดตัวแปร x, y เพื่อทำ decision tree 

โดยกำหนด x คือ House, Total, income2561
และ y คือ ลักษณะชุมชน (สิ่งที่เราจะทำนาย)

In [ ]:
#กำหนด X และ y เพื่อทำ decision tree
X = data_cut[['House','Total','income2561']]
y = data_cut['ลักษณะชุมชน']

In [ ]:
X

Train Model

In [ ]:
from sklearn.model_selection import  train_test_split

Train-Test

In [ ]:
#แบ่งข้อมูลออกเป็น 2 ส่วน ด้วยการสุ่ม
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.5, random_state=8)

In [ ]:
X.shape # ดูขนาดของข้อมูล จากนั้นแบ่งกลุ่มเป็น 2 ส่วน

In [ ]:
X_train.shape

In [ ]:
X_test.shape

Train - Validation

In [ ]:
#แบ่งข้อมูลออกเป็น 2 ส่วน ด้วยการสุ่ม
X_train2, X_val, y_train2, y_val = train_test_split(X_train, y_train, test_size=0.5, random_state=8)

In [ ]:
#import
from sklearn.tree import DecisionTreeClassifier # package ใช้ทำ decision tree

In [ ]:
#import accuracy_score จาก sklearn.metrics
from sklearn.metrics import accuracy_score # package หาค่า accuracy

Decision tree 1 ใช้เกณฑ์ max_depth = 5,random_state = 13

In [ ]:
#define
mytree = DecisionTreeClassifier(max_depth=5,random_state=13)
#train
mytree.fit(X_train2,y_train2)
#test
mytree_result = mytree.predict(X_val)
#accuracy_score
accuracy_score(y_val, mytree_result)

Decision tree 2 ใช้เกณฑ์ splitter = 'random',random_state = 13

In [ ]:
#define
mytree2 = DecisionTreeClassifier(splitter='random',random_state=13)
#train
mytree2.fit(X_train2,y_train2)
#test
mytree_result2 = mytree2.predict(X_val)
#accuracy_score
accuracy_score(y_val, mytree_result2)

Decision tree 3 ใช้เกณฑ์ criterion = 'entropy', splitter = 'random', random_state=13

In [ ]:
#define
mytree3 = DecisionTreeClassifier(criterion='entropy',splitter='random',random_state=13)
#train
mytree3.fit(X_train2,y_train2)
#test
mytree_result3 = mytree3.predict(X_val)
#accuracy_score
accuracy_score(y_val, mytree_result3)

Decision tree 4 ใช้เกณฑ์ criterion = 'gini',max_leaf_nodes = 50,splitter ='random',random_state = 13

In [ ]:
#define
mytree4 = DecisionTreeClassifier(criterion='gini',max_leaf_nodes=50,splitter='random',random_state=13)
#train
mytree4.fit(X_train2,y_train2)
#test
mytree_result4 = mytree4.predict(X_val)
#accuracy_score
accuracy_score(y_val, mytree_result4)

#KNN

In [ ]:
#import
from sklearn.neighbors import KNeighborsClassifier # package ที่ใช้ในการทำ KNN

KNN1

ใช้เกณฑ์ n_neighbors = 3, weights = 'uniform'

In [ ]:
# Define
neigh1 = KNeighborsClassifier(n_neighbors=3, weights='uniform') #ถามเพื่อนบ้านที่ใกล้สุด 3 คน และเชื่อทุกคนเท่ากัน
# Train
neigh1.fit(X_train2,y_train2)
# Test
knn1_result = neigh1.predict(X_val)
accuracy_score(y_val, knn1_result)

KNN2

ใช้เกณฑ์ n_neighbors = 10, weights = 'distance'

In [ ]:
# Define
neigh2 = KNeighborsClassifier(n_neighbors=10, weights='distance')#ถามเพื่อนบ้านที่ใกล้สุด 10 คน และเชื่อคนที่ใกล้มากกว่าไกล
# Train
neigh2.fit(X_train2,y_train2)
# Test
knn2_result = neigh2.predict(X_val)
accuracy_score(y_val, knn2_result)

KKN3

ใช้เกณฑ์ n_neighbors = 1

In [ ]:
# Define
neigh3 = KNeighborsClassifier(n_neighbors=1)#เชื่อเพื่อนบ้านที่ใกล้ที่สุดคนเดียว
# Train
neigh3.fit(X_train2,y_train2)
# Test
knn3_result = neigh3.predict(X_val)
accuracy_score(y_val, knn3_result)

#Neural Network

Import

In [ ]:
from sklearn.neural_network import MLPClassifier # package ที่ใช้ในการทำ ANN

Train-Test

ANN1

In [ ]:
# Define
perceptron1 = MLPClassifier(random_state=13,max_iter=2000,hidden_layer_sizes=1,learning_rate_init=0.05)
# Train
perceptron1.fit(X_train2,y_train2)
# Test
ann1_result = perceptron1.predict(X_val)
accuracy_score(y_val, ann1_result)

ANN2

In [ ]:
# Define
perceptron2 = MLPClassifier(random_state=13,max_iter=2000,hidden_layer_sizes=10,learning_rate_init=100) 
# Train
perceptron2.fit(X_train2,y_train2)
# Test
ann2_result = perceptron2.predict(X_val)
accuracy_score(y_val, ann2_result)

ANN1 & ANN2 ต่างกันตรงค่า hidden_layer_sizes และ learning_rate_init

ANN3

In [ ]:
# Define
perceptron3 = MLPClassifier(random_state=13,max_iter=20000,hidden_layer_sizes=10,learning_rate_init=0.01) 
# Train
perceptron3.fit(X_train2,y_train2)
# Test
ann3_result = perceptron3.predict(X_val)
accuracy_score(y_val, ann3_result)

### **Retrain & Evaluate**

จากค่า accuracy ของ Decision tree 4 และ KNN1 มีค่าเท่ากันคือ 0.5064935064935064 จึงทำการ Train ทั้งสองตัวแบบเพื่อหาตัวแบบที่เหมาะสมที่สุด

**เลือก Decision tree 4 แล้ว Train ใหม่ด้วย Training**

In [ ]:
#import
from sklearn.tree import DecisionTreeClassifier
#define
mytree_4final = DecisionTreeClassifier(criterion='gini',max_leaf_nodes=50,splitter='random',random_state=13)
#train
mytree_4final.fit(X_train,y_train)
#test-evaluate
mytree_4_finalresult = mytree_4final.predict(X_test)
dectree_ac = accuracy_score(y_test, mytree_4_finalresult)
dectree_ac

plot tree

In [ ]:
from sklearn.tree import plot_tree

In [ ]:
plot_tree(mytree_4final);

**เลือก KNN1 มา Train ใหม่ อีกครั้ง**

In [ ]:
# Define
neigh1final = KNeighborsClassifier(n_neighbors=3, weights='uniform') #ถามเพื่อนบ้านที่ใกล้สุด 3 คน และเชื่อทุกคนเท่ากัน
# Train
neigh1final.fit(X_train,y_train)
# Test
knn1final_result = neigh1final.predict(X_test)
knn_ac = accuracy_score(y_test, knn1final_result)
knn_ac

สรุป จากการ Train ของทั้งสองตัวแบบ พบว่า ค่า accuracy ของ Decision tree 4 = 0.5374592833876222 และ ค่า accuracy ของ KNN1 = 0.6103896103896104

ดังนั้น เมื่อนำสองค่ามาเทียบกันพบว่า ค่า accuracy ของ KNN มีค่ามากกว่า Decision tree จึงเลือกตัวแบบ KNN เพราะมีความเหมาะสมที่สุด

#Visulization

In [ ]:
from matplotlib import pyplot as plt

labels = ['Decision Tree', 'KNN']
accuracy_Y = [dectree_ac,knn_ac]
#plot
plt.bar(labels,accuracy_Y)
plt.ylabel('Accuracy_Score')
plt.title('Compare Acuuracy_score')
plt.legend();

In [ ]:
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix  # เรียกใช้อัลกอริทึมที่เราต้องการ

In [ ]:
knn1final_result

In [ ]:
X_test

In [ ]:
# ทำการติดตั้ง font ภาษาไทยเพื่อนำมาใช้ในการ plot กราฟ
import matplotlib as matplotlib # ทำการเช็ค version ของตัว library ดู ซึ่งเข้าใจว่าต้องเป็น version 3.2 ขึ้นไปเท่านั้นถึงจะใช้ได้ ถ้า version ต่ำกว่านี้ก็อาจจะต้องทำการอัพเดต version ก่อน
matplotlib.__version__

In [ ]:
# ทำการดาวน์โหลด font ในที่นี้ก็จะใช้โค้ดด้านล่างนี้ โหลด font ที่ชื่อว่า thsarabunnew
!wget -q https://github.com/Phonbopit/sarabun-webfont/raw/master/fonts/thsarabunnew-webfont.ttf

In [ ]:
matplotlib.font_manager.fontManager.addfont('thsarabunnew-webfont.ttf')  #เพื่ม font ที่เรา download มาเข้าไปใน font manager ของ matplotlib พร้อมกับเซ็ตค่า font ที่จะใช้งานแสดงบนกราฟที่เราจะพล็อต
matplotlib.rc('font', family='TH Sarabun New')

In [ ]:
from matplotlib import pyplot as plt # เรียกใช้อัลกอริทึมที่เราต้องการ

In [ ]:
#ผลการทำนายลักษณะชุมชนโดยใช้จำนวนครัวเรือน
plt.plot(X_test['House'],knn1final_result,'Pb',alpha =0.2) 
plt.xlabel('จำนวนครัวเรือน')
plt.ylabel('ลักษณะชุมชน')
plt.title('ผลการทำนายลักษณะชุมชนโดยใช้จำนวนครัวเรือน')
plt.show();

**สรุป** จากผลการทำนายลักษณะชุมชนโดยใช้จำนวนครัวเรือน พบว่า จังหวัดที่มีจำนวนครัวเรือนมาก ส่วนใหญ่จะเป็นชุมชนย่านพาณิชยกรรมเก่า, เป็นชุมชนตลาด, เป็นชุมชนเกษตรกรรม

In [ ]:
#ผลการทำนายลักษณะชุมชนโดยใช้จำนวนประชากร
plt.plot(X_test['Total'],knn1final_result,'dc',alpha =0.2) 
plt.xlabel('จำนวนประชากร')
plt.ylabel('ลักษณะชุมชน')
plt.title('ผลการทำนายลักษณะชุมชนโดยใช้จำนวนประชากร')
plt.show();

**สรุป** จากผลการทำนายลักษณะชุมชนโดยใช้จำนวนประชากร พบว่า จังหวัดที่มีจำนวนประชากรมาก ส่วนใหญ่จะเป็นชุมชนย่านพาณิชยกรรมเก่า, เป็นชุมชนตลาด, เป็นชุมชนเกษตรกรรม

In [ ]:
#ผลการทำนายลักษณะชุมชนโดยใช้จำนวนรายได้จากการท่องเที่ยว
plt.plot(X_test['income2561'],knn1final_result,'*g',alpha =0.2) 
plt.xlabel('จำนวนรายได้จากการท่องเที่ยว')
plt.ylabel('ลักษณะชุมชน')
plt.title('ผลการทำนายลักษณะชุมชนโดยใช้จำนวนรายได้จากการท่องเที่ยว')
plt.show();

**สรุป** จากผลการทำนายลักษณะชุมชนโดยใช้จำนวนรายได้จากการท่องเที่ยว พบว่า จังหวัดที่มีรายได้จากการท่องเที่ยวมาก ส่วนใหญ่จะเป็นชุมชนตลาด,เป็นชุมชนเกษตรกรรม

**จบการนำเสนอ Final Project**